<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PMS - Project Management System</title>

    <!-- Core CSS - Include with every page -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/custom.css" rel="stylesheet">

</head>

<body ng-app="pms">

<!-- Profile Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit profile</h4>
            </div>
            <div class="modal-body" id="profileModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="saveProfile" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- New project Modal -->
<div class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="newProjectModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">New project</h4>
            </div>
            <div class="modal-body" id="newProjectModalBody">
                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label class="col-md-3 control-label">Name:</label>

                        <div class="col-md-9">
                            <input class="form-control" id="projectName" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Description:</label>

                        <div class="col-lg-8">
                            <textarea rows="5" cols="50" class="form-control" name="ProjectDescription"
                                      maxlength="512"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="saveProfile" class="btn btn-primary">Create project</button>
            </div>
        </div>
    </div>
</div>

<!-- Add collaborator Modal -->
<div class="modal fade" id="collaboratorModal" tabindex="-1" role="dialog" aria-labelledby="collaboratorModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add collaborator</h4>
            </div>
            <div class="modal-body" id="profileModalBody">
                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label class="col-md-3 control-label">Email:</label>

                        <div class="col-md-9">
                            <input class="form-control" id="collaboratorEmail" type="text">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="saveProfile" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Delegate Modal -->
<div class="modal fade" id="delegateModal" tabindex="-1" role="dialog" aria-labelledby="delegateModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delegate collaborator</h4>
            </div>
            <div class="modal-body" id="delegateModalBody">
                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label class="col-md-3 control-label">Collaborator:</label>

                        <select class="form-control">
                            <option>Mita</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="saveProfile" class="btn btn-primary">Delegate</button>
            </div>
        </div>
    </div>
</div>

<div id="wrapper">

    <!-- <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0"> -->
    <div class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <img src="/img/logo.png" />
            <ul class="nav" id="side-menu" ng-controller="projectListController">
                <li ng-repeat="project in projects">
                    <a href="javascript:;" ng-click="doStuff(project.id)"><i class="fa fa-tasks fa-fw"></i>{{project.name}}</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="modal" data-target="#newProjectModal">+ New project</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> <%= user %><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="javascript:;" id="displayProfile">Profile</a>
                        </li>
                        <li>
                            <a href="/logout">Log out</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
            <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
    <!--  </nav> -->

    <div id="page-wrapper">

        <!-- Tab navigation -->

        <div class="row">
            <div class="col-lg-12">
<!--                 <div class="tabbable">
                    <ul class="nav nav-tabs" ng-controller="projectListController">
                        <li ng-repeat="project in projects">
                            <a href="#p{{project.id}}" data-toggle="tab"><i class="fa fa-tasks fa-fw"></i>{{project.name}}</a>
                        </li>
                    </ul>
                </div> -->
                <div class="tabbable">
                    <ul class="nav nav-tabs" ng-controller="tabsController">
                        <li ng-repeat="tab in tabs">
                           <a  href='#t{{tab.id}}' data-toggle="tab">{{tab.title}} <i ng-click="removeTab($index)" class="glyphicon glyphicon-remove"></i></a>
                        </li>
                    </ul>
                </div>

                <!-- Tab Section -->
                <!-- sadrzaj -->

                <div class="tab-content" ng-controller="tabsController">
                    <div ng-repeat="tab in tabs" class="tab-pane" id='t{{tab.id}}'>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6" id="projectDescription{{project.id}}">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue
                                        lobortis justo sodales egestas. Donec ut ipsum feugiat, tincidunt lectus nec,
                                        adipiscing nisl. Pellentesque interdum nulla sed velit suscipit tempor.
                                        Phasellus congue tortor non purus accumsan aliquam. Morbi egestas eros eu
                                        tincidunt tristique. Sed eget odio sit amet velit sagittis pharetra vitae eget
                                        tortor. Aenean sem risus, ultricies et consequat vestibulum, mattis non nisl.
                                    </div>
                                    <div class="col-lg-6">
                                        <h4>Collaborators</h4>

                                        <div class="row">
                                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#collaboratorModal">+</button>
                                            <img src="http://localhost:3000/user_data/1/avatar.png"
                                                 class="avatar img-thumbnail"/>
                                            <img src="http://png-1.findicons.com/files/icons/1072/face_avatars/300/i04.png"
                                                 class="avatar img-thumbnail"/>
                                            <img src="http://icons.iconarchive.com/icons/hopstarter/superhero-avatar/256/Avengers-Black-Widow-icon.png"
                                                 class="avatar img-thumbnail"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="tasks{{project.id}}">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-lg-3">
                                                <ul class="nav nav-pills nav-stacked">
                                                    <li class="active"><a href="#task1" data-toggle="tab">Task 1</a>
                                                    </li>
                                                    <li><a href="#task2" data-toggle="tab">Task 2</a></li>
                                                    <li><a href="#task3" data-toggle="tab">Task 3</a></li>
                                                    <li><a href="javascript:;">+ New task</a></li>
                                                </ul>
                                            </div>
                                            <div class="tab-content col-lg-9">
                                                <div class="row">
                                                    <div class="col-lg-7">
                                                        <div class="tab-pane fade active in" id="task1">
                                                            <h4>Task 1</h4>

                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                                enim
                                                                ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                                                ut
                                                                aliquip ex ea commodo consequat. Duis aute irure dolor in
                                                                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                                                nulla
                                                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                                                                in
                                                                culpa qui officia deserunt mollit anim id est laborum.</p>

                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="checkbox">
                                                                        <h4>
                                                                            <input type="checkbox"> Finished
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <h4><strong>Deadline:</strong> 24/06/2014</h4>
                                                                    <h4><strong>Date complete:</strong></h4>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <img src="http://png-1.findicons.com/files/icons/1072/face_avatars/300/i04.png" class="avatar-small img-thumbnail"/>
                                                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#delegateModal">+</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <form class="form-inline" role="form">
                                                            <div class="form-group">
                                                                <input class="form-control" type="text" placeholder="Your comments" />
                                                            </div>
                                                            <div class="form-group">
                                                                <button class="btn btn-default">Add</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Core Scripts - Include with every page -->
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- Page-Level Plugin Scripts - Dashboard -->
<script src="/js/plugins/morris/raphael-2.1.0.min.js"></script>
<script src="/js/plugins/morris/morris.js"></script>

<!-- SB Admin Scripts - Include with every page -->
<script src="/js/sb-admin.js"></script>

<!-- jQuery form handling plugin -->
<script src="http://malsup.github.com/jquery.form.js"></script>

<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.js"></script>

<script src="/js/ui-bootstrap-tpls-0.11.0.min.js"></script>

<script src="/js/custom.js"></script>
</body>

</html>
