<div id="profileContainer" class="container">
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <form action="/uploadAvatar" method="POST" class="form-horizontal"  id="avatarForm" enctype="multipart/form-data">
                <div class="text-center">
                    <% if(avatar && avatar.length > 0){ %>
                    <img src="<%= avatar %>" id="profileAvatar" class="avatar img-circle" alt="avatar">
                    <% } else { %>
                    <img src="//placehold.it/100" id="profileAvatar" class="avatar img-circle" alt="avatar">
                    <% } %>
                    <div class="form-group">
                       <input type="file" id="profileAvatarInput" name="avatar" accept="image/png"/>
                    </div>

                </div>
                <div class="text-right">
                    <input id="avatarUploadButton" type="submit" class="btn btn-primary" value="Upload"/>
                </div>
            </form>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <h3>Personal info</h3>

            <form class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-md-3 control-label">Display name:</label>

                    <div class="col-md-4">
                        <input class="form-control" id="profileDisplayName" type="text" value=<%= displayName %>>
                    </div>
                </div>


                <!--<div class="form-group">-->
                <!--<label class="col-lg-3 control-label">Email:</label>-->
                <!--<div class="col-lg-4">-->
                <!--<input class="form-control" id="profileEmail" type="text" value=<%= email %>>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                <!--<label class="col-md-3 control-label">Password:</label>-->

                <!--<div class="col-md-4">-->
                <!--<input class="form-control" id="profilePassword" type="password" value="11111122333">-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                <!--<label class="col-md-3 control-label">Confirm password:</label>-->

                <!--<div class="col-md-4">-->
                <!--<input class="form-control" id="profileConfirmPassword" type="password" value="11111122333">-->
                <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="col-lg-3 control-label">Description:</label>

                    <div class="col-lg-4">
                        <textarea rows="5" cols="50" class="form-control" name="profileDescription"
                                  maxlength="512"><%= description %></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>